@use '../styles/variables.scss' as var;
@import '../styles/mixin.scss';

.login {
  @include main-wrapper;
  max-width: 500px;
}

.login-form {
  @include form;
}

.email-input,
.password-input {
  @include inputfield;
}

.login-button {
  @include action-button;
  margin-bottom: 16px;

  :invalid {
    cursor: not-allowed;
    background-color: var.$invalidcolor;
  }
}
