@use '../styles/variables.scss' as var;
@import '../styles/mixin.scss';

.signup {
  @include main-wrapper;
  max-width: 500px;
}

.signup-form {
  @include form;

  label {
    display: block;
    height: 90px;
  }
}

.email-input,
.name-input,
.password-input {
  @include inputfield;
}

.signup-button {
  @include action-button;
  margin-bottom: 16px;
}

.upload-icon {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin-bottom: 4px;

  @media (max-width: var.$breakpoint-sm) {
    width: 100px;
    height: 100px;
  }
}

.icon-input {
  margin-bottom: 8px;
  font-size: 11px;
}
