@use '../styles/variables.scss' as var;

.header {
  height: 80px;
  background-color: var.$maincolor;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  z-index: 999;

  @media (max-width: var.$breakpoint-sm) {
    height: 70px;
    padding: 0 8px;
  }

  h1 {
    cursor: pointer;
  }
}

.button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16px;
}

.button-group__button {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 4px;
}

.button-group__img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.button-group__text {
  font-size: 18px;
}

.button-group__icon {
  width: 24px;
  height: 24px;
}
